
/*ヘッダー*/
header {
    background: linear-gradient(90deg, #0056b3, #0099ff);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*大会要項*/
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 60px;
}
/*区切り*/
h3{
    color: rgb(96, 96, 255);
    font-size: 20px;
}

/*本文*/
body{
    color: rgb(62, 62, 62);
    font-size: 15px;
}

/*フッター*/
footer{
    background-color: rgb(176, 176, 176);
    margin-top: 100px;
    color: white;
}

/*ボタン*/
button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color: rgb(189, 255, 255);
    width: 40vw;
    height: 130px;
    object-fit: contain;
}


.buttonImage{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

#footerTable{
    margin-left: auto;
    margin-right: auto;
}

/*レスポンシブ*/
@media (max-width:600px){
    h1{
        font-size:25px;
    }

    button{
        justify-content: center;
        display: grid;
        width: 30vw;
        height: 50vw;
        font-size: 15px;
    }

    /*ボタンについてる画像*/
    .buttonImage{
        width: 25vw;
        height: 25vw;
        object-fit: contain;
    }
}

